<div class="width-100">
    <div style="display: flex; align-items: center;">
        <img  class="width-100" src="../assets/img/alert-rosa.svg" alt="">
        <div class="alert-rose width-100">Frete gratis acima de R$ 250,00</div>
    </div>

    <div class="logo">
        <img src="../assets/img/logo.svg" alt="">
        <div class="menu">
            <span class="margin-1">Home</span>
            <span class="margin-1">Sobre nós</span>
            <span class="margin-1">Loja</span>
        </div>
    </div>

    <div>
        <div id="myCarousel" class="carousel slide width-100" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active width-100"><img src="../assets/img/banner1-home 1.svg"> </div>
                <div class="item width-100"><img src="../assets/img/banner1-home 2.svg"></div>
                <div class="item width-100"><img src="../assets/img/banner4-home 1.svg"></div>
            </div>
        </div>
    </div>

    <!-- Carousel-->
    <!-- <div class="container-carousel">
        <div *ngFor="let produto of produtoLista">
            <img class="width-100" [src]="produto.img" alt="Imagem ilustrativa">
            <div>
                <div class="">{{produto.instagram}}</div>
                <div class="">{{produto.contexto}}</div>
            </div>
        </div>
    </div> -->

    <div>
        <div style="width: 100%;
        text-align: center;">
            <div style="width: 100%;
            
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: #424242;">Nossos Produtos</div>
        </div>
    </div>

    <!-- Carousel-->
    <div class="container-carousel">
        <div *ngFor="let produto of produtoLista2">
            <img class="width-100" [src]="produto.img" alt="Imagem ilustrativa">
        </div>
    </div>

    <div class="div-button"><button class="button">Ver mais Produtos</button></div>

    <div style="display: flex;">
        <img class="width-100" src="../assets/img/background-blue.svg" alt="">
        <div class="cadastre">
            <span>
                Cadastre-se aqui e receba descontos e novidades
            </span>
            <div style="margin: 2rem 0rem">
                <input class="input" type="text" placeholder="Digite seu nome">
                <input class="input" type="text" placeholder="Digite seu email">
                <button class="button-enviar">enviar</button>
            </div>
        </div>
    </div>

</div>