<div>
    <img src="../assets/img/alert-rosa.svg" alt="">
    <div class="alert-rose ">Frete gratis acima de R$ 250,00</div>
    <img src="../assets/img/logo.svg" alt="">
    <div>
        <span>Home</span>
        <span>Sobre nós</span>
        <span>Loja</span>
    </div>

    <!-- Carroussel banner principal-->
    <div>
        <img src="../assets/img/banner1-home 1.svg" alt="">
    </div>

    <!-- Carroussel banner secundario-->
    <div class="container">
        <button class="arrow-left control" aria-label="Previous image">⮜</button>
        <button class="arrow-right control" aria-label="Next image">⮞</button>
        <div class="galeria-wrapper">
            <div class="galeria" *ngFor = "let produto of produtoLista">
                <img class="item" [src]="produto.img" alt="Imagem ilustrativa">
            </div>

        </div>

    </div>
    <!-- <div class="container-carousel" >
        <img [src]="produto.img" alt="Imagem ilustrativa">
        <div>
            <div class="">{{produto.instagram}}</div>
            <div class="">{{produto.contexto}}</div>
        </div>
    </div> -->
</div>